@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";

.body-dark {
  transition: .5s;
  background-color: #222222;
}

.body-light {
  transition: .5s;
  background-color: white;
}

.title-dark {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  color: white;
}

.title-light {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  color: #363636;
}

@keyframes toggle-slot-light {
  from {
    background-color: rgb(34, 34, 34);
  }

  to {
    background-color: rgb(255, 172, 49);
  }
}

.toggle-slot-light {
  margin-top: 0.5em;
  animation: toggle-slot-light;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  background-color: rgb(255, 172, 49);
  width: 100px;
  height: 40px;
  z-index: 8000;
  border-radius: 20px;
}

@keyframes toggle-slot-dark {
  from {
    background-color: rgb(255, 172, 49);
  }

  to {
    background-color: rgb(34, 34, 34);
  }
}

.toggle-slot-dark {
  margin-top: 0.5em;
  animation: toggle-slot-dark;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: rgb(34, 34, 34);
  cursor: pointer;
  width: 100px;
  height: 40px;
  z-index: 8000;
  border-radius: 20px;
}

@keyframes toggle-dark {
  from {
    left: 8px;
  }

  to {
    left: 80px;
  }
}

.my-toggle-dark {
  font-size: 20px;
  color: rgb(34, 34, 34);
  animation: toggle-dark;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 0;
  background-color: white;
  margin: 0;
  border: none !important;
  height: 40px;
  width: 40px;
  position: absolute !important;
  cursor: pointer;
  top: 8px;
  left: 80px;
  z-index: 10000;
  border-radius: 50% !important;
}

@keyframes toggle-light {
  from {
    left: 68px;
  }

  to {
    left: 8px;
  }
}

.my-toggle-light {
  font-size: 20px;
  color: rgb(255, 172, 49);
  background-color: white;
  animation: toggle-light;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 0;
  margin: 0;
  border: none !important;
  height: 40px;
  width: 40px;
  position: absolute !important;
  cursor: pointer;
  top: 8px;
  left: 8px;
  z-index: 10000;
  border-radius: 50% !important;
}