@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";

.body-dark {
  transition: .5s;
  background-color: #222222;
}
.body-light {
  transition: .5s;
  background-color: white; 
}
.title-dark {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  color: white;
}

.title-light {    
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  color: #363636;
}